<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  main, div {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background-image: url('https://i.pinimg.com/originals/fe/5f/67/fe5f677b1627009c4b3e1c1c31dedf71.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
  }
  .resume {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
  }
  .resume:hover {
    transform: translateY(-20px);
  }
  .resume h2 {
    margin-top: 0;
  }
  .resume ul {
    list-style-type: disc; 
    padding: 0;
  }
  .resume li {
    margin-bottom: 10px;
  }
  .resume li span {
    font-weight: bold;
  }
  .resume li:hover {
    background-color: #F7D560;
    transition: background-color 0.6s ease;
  }
  .hidden {
    display: none;
  }
  .profileimg {
    max-width: 100px!important;
    border-radius: 40%!important;
    position: absolute!important;
    top: 10px!important;
    right: 10px!important;
    transform: translateZ(42px);
 
   
  }
</style>
